# exclude data
map/osm/australia-oceania-latest_20180602_osm.pbf
oberbayern.bfmap

# exclude intellij and git files
.idea/*
*.iml
.DS_Store
test-trace.log

# exclude compiled files
target/*
map/tools/*.pyc

# !output/excluded_data/.gitkeep

